@mixin ControlBar($width: 100%) {

    .control_bar {
        width: $width;
        height: rem(50);
        border-radius: rem(10);
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        @content;

        &:not(.no-fill) {
            background-color: desaturate(darken($beige, 5%), 20%);
            box-shadow: 0 0 0 em(5) desaturate(darken($beige, 20%), 40%),
            0 0 0 em(5) desaturate(darken($beige, 20%), 40%);
            border: solid em(5) desaturate(darken($beige, 15%), 20%);
        }

        .btn_view {
            float: right;
            width: rem(40);
            height: rem(40);
            cursor: pointer;
            display: inline-block;
            transition: all .3s;
            margin: rem(5) rem(10) rem(5) 0;

            &[disabled] {
                opacity: .5;
                cursor: default;
            }
            
            &.view-model_box {
                background-image: url("/assets/images/general/view_model_icon.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            &.view-skill_list {
                background-image: url("/assets/images/general/view_skill_icon.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

}