#DisplayInfo {
	position: relative;

	@include ControlBar(rem(500)) {
		&.no-fill {
			z-index: 10;
			top: rem(210);
			right: rem(110);
			position: absolute;
		}
	}
}

#Display {
	width: rem(500);
	height: rem(415);
	margin: 0 auto;
	border: solid rem(10);
	background-color: $darker;
	border-top-color: lighten($grey, 15%);
	border-right-color: lighten($grey, 5%);
	border-bottom-color: darken($grey, 15%);
	border-left-color: lighten($grey, 5%);
	border-radius: rem(15);
	overflow: hidden;
	position: relative;

	#Canvas {

		canvas {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
		}

		&.loaded {
			canvas {
				animation: fade .3s 1s;
				animation-fill-mode: both;
			}

			& + .loading-thumb {				
				// animation: none
			}		
		}
	}

	.loading-thumb {
		opacity: .75;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		animation: rotate 2s infinite linear;				
		background-image: url('/assets/images/general/monsterball-white.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: rem(80);
		z-index: 1;
	}
	
}