#Info {
    width: rem(500);
    margin: 0 auto rem(38);
	border-radius: rem(15);
	background-color: desaturate(darken($beige, 5%), 20%);
	box-shadow: 0 0 0 em(5) desaturate(darken($beige, 20%), 40%),
	0 em(20) 0 em(5) desaturate(darken($beige, 20%), 40%);
    border: solid em(5) desaturate(darken($beige, 15%), 20%);
    transition: opacity .3s;

    &.hidden {
        opacity: 0;
    }

    .header-info {
        .info {
            &-image {
                width: rem(130);
                margin: rem(10);
                display: inline-block;
                vertical-align: top;
                img {
                    width: 100%;
                }
            }

            &-content {
                width: rem(280);
                margin: rem(10);
                display: inline-block;
                vertical-align: top;
            }

            &-name {
                width: 100%;
                opacity: 75;
                display: block;
                font-size: rem(25);
                line-height: rem(40);
                font-weight: medium;
                margin-bottom: rem(10);
                border-bottom: $white 1px solid;
            }

            &-base_stats {
                display: inline-block;
                vertical-align: top;

                .stat_value {
                    width: rem(190);
                    height: rem(40);
                    line-height: rem(40);
                    font-size: rem(25);
                    color: $white;
                    font-weight: bold;
                    text-align: right;
                    padding: 0 rem(15);
                    box-sizing: border-box;

                    &:before {
                        background-repeat: no-repeat;
                        background-size: contain;
                        padding-left: rem(25);
                        font-size: rem(20);
                        float: left;
                        height: rem(20);
                        background-position: left center;
                        line-height: rem(20);
                        margin: rem(10) 0;
                        opacity: .5;
                    }

                    &.hp-stat {
                        border-radius: rem(10) rem(10) 0 0;
                        background-color: $blue;
                        
                        &:before {
                            content: 'HP';
                            background-image: url('/assets/images/general/hp_icon.png');
                        }
                    }

                    &.atk-stat {
                        border-radius: 0 0 rem(10) rem(10);
                        background-color: $red;
                        &:before {
                            content: 'ATK';
                            background-image: url('/assets/images/general/atk_icon.png');
                        }
                    }
                }
            }

            &-range {
                vertical-align: top;
                display: inline-block;
                width: rem(80);
                height: rem(80);
                margin-right: rem(10);
                background-color: rgba($yellow, .75);
                border-radius: rem(10);
                background-size: 75%;
                background-repeat: no-repeat;
                background-position: center;

                &.melee {
                    background-image: url('/assets/images/general/basic_melee.png');
                }

                &.ranged {
                    background-image: url('/assets/images/general/basic_range.png');
                }
            }

            &-types {
                width: rem(30);
                margin: rem(10);
                display: inline-block;
                vertical-align: bottom;

                .type-flag {
                    float: left;
                    width: rem(30);
                    height: rem(60);
                    overflow: hidden;
                    position: relative;
                    box-sizing: border-box;
                    border-radius: rem(10);
                    border-left: 1px solid rgba($black, .25);
                    border-bottom: 1px solid rgba($black, .25);

                    &:nth-child(2) {
                        margin-top: rem(10);
                    }

                    &:only-of-type {
                        height: rem(130);
                        
                        span {
                            width: rem(130);
                            height: rem(130);
                        }    
                    }

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        width: rem(60);
                        height: rem(60);
                        font-size: rem(14);
                        line-height: rem(27.5);
                        font-weight: medium;
                        color: $white;
                        transform: rotate(-90deg);
                        transform-origin: 50% 50% 0;
                        transition: opacity .3s;
                        text-shadow: -1px 1px rgba($black, .1);
                        cursor: default;
                    }

                    @include media(desktop) {
                        &:hover {
                            span {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}