
@mixin setThumbColor($color) {
	
	background-color: $color;
	margin-bottom: em(20);
	box-sizing: border-box;
	box-shadow: 0 em(12.5) darken($color, 50%);
	transition: background-color .1s, box-shadow .1s, transform .1s;
	
	&:active {
		background-color: lighten($color, 5%);
		box-shadow: 0 em(5) darken($color, 55%);
		transform: translateY(em(10));

		&:after {
			background-color: rgba($white, .25);
		}

		.ingredientImage,
		.numberTab .numberDigits {
			opacity: .5;
		}
	}
}

.ingredient_default {
	@include setThumbColor($white);
	font-size: rem(8.5);
	width: em(225);
	height: em(210);
	border-radius: em(15);
	background-repeat: no-repeat;
	background-position-x: 55%;
	background-position-y: 50%;
	display: inline-block;
	position: relative;
	margin: em(35) em(10) em(10);

	@include media(mobile) {
		width: em(75);
		height: em(70);
		border-radius: em(10);
	}

	&.selected {
		transform: scale(.95);
		background-color: lighten($grey, 27.5%);

		.ingredientName {
			color: $white;
			font-weight: 600;
		}
	}

	&:before,
	&:after,
	.ingredientImage {
		content: '';
		background-color: transparent;
		background-repeat: no-repeat;
		border-radius: em(15);
		width: em(135);
		height: em(135);
		position: absolute;
		top: em(15);
		left: 50%;
		transform: translateX(-50%);
		cursor: grab;
	}
	
	&:before {
		width: em(140);
		height: em(140);
		z-index: 1;
		transition: all .3s;
	}

	&:after {
		z-index: 5;
		transition: all .1s;
		background-color: rgba($white, 0);
	}

	.ingredientImage {
		opacity: 0;
		z-index: 2;
		transition: opacity .6s .3s;
	}
	
	.ingredientName {
		font-weight: 300;
		width: 100%;
		line-height: 3;
		position: absolute;
		left: 0;
		bottom: 0;
		opacity: 1;
		color: $black;
		transition: all .1s;
		font-size: em(28.5);
		z-index: 2;

		&.selected {
			color: $white;
		}
	}
}

.drag_ingredient-preview {
	width: 10px;
	height: auto;
}

