#App {
    .main {
        &.page-enter-done {
            z-index: 2;
        }

        &:only-of-type {
            &.page-enter-done {
                z-index: 3;

                .app-wrapper {
                    opacity: 1;
                    transition: opacity .5s .5s;
                }

                &.page-enter{
                    .app-wrapper {
                        opacity: 0;
                    }
                }
            
                .overlay-slice {
                    animation: loadsliceleave .9s .6s;
                    animation-fill-mode: both;
                }

                & ~ #Navbar {
                    opacity: 1;
                    transition: opacity .3s .5s;
                }
            }
        }
        
        &.page-exit {
            z-index: 1;

            .app-wrapper {
                opacity: 0;
                transition: opacity .5s;
            }

            & ~ #Navbar {
                opacity: 0;
                transition: opacity .3s;
            }
        }
    }

    .page-transition-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        width: 100%;
        opacity: 1;
        z-index: 4;
        transition: all .3s;
        animation-fill-mode: both;        

        .overlay-slice {
            top: 0;
            height: 100vh;
            width: 100%;
            position: absolute;
            box-sizing: border-box;        
            transform: skewX(-20deg) translate(-40%, 0);
            @include bgGradient(saturate($yellow, 100%), lighten($yellow, 10%));
            animation: loadsliceenter .6s .3s;
            animation-fill-mode: both;

            &:nth-child(1) {
                @include bgGradient(saturate(lighten($yellow, 10%), 50%), lighten($yellow, 15%));
                max-width: 30vw;
                left: 0vw;
            }

            &:nth-child(2) {
                @include bgGradient(saturate(lighten($yellow, 5%), 50%), lighten($yellow, 10%));
                max-width: 15vw;
                left: 23.9vw;
            }

            &:nth-child(3) {
                @include bgGradient(saturate($yellow, 50%), lighten($yellow, 5%));
                max-width: 30vw;
                left: 44.5vw;
            }

            &:nth-child(4) {
                @include bgGradient(saturate(darken($yellow, 5%), 50%), $yellow);
                max-width: 20vw;
                left: 70.3vw;
            }

            &:nth-child(5) {
                @include bgGradient(saturate(darken($yellow, 5%), 100%), lighten($yellow, 5%));
                max-width: 30vw;
                left: 94.2vw;
            }

        }

        .page-enter & {
            z-index: 1000;
        }
        
        .page-exit & {
            z-index: 100;
        }
        
        .page-enter-active & {
            
        }
        
        .page-exit-active & {
            
        }
        
        .page-enter-done & {
        }
    }
}