#SkillsList {

	@include ControlBar(rem(500))

	.skills_list-wrapper {

		width: rem(500);
		height: rem(320);
		margin: 0 auto rem(38);
		border-radius: rem(15);
		transform: translateY(em(17.5));
		background-color: desaturate(darken($beige, 5%), 20%);
		box-shadow: 0 0 0 em(5) desaturate(darken($beige, 20%), 40%),
		0 em(20) 0 em(5) desaturate(darken($beige, 20%), 40%);
		border: solid em(5) desaturate(darken($beige, 15%), 20%);
		transition: opacity .3s;

		@include customScrollBox(em(320));

		ul {
			width: 90%;
			margin: rem(20) auto;
			position: relative;
			border-collapse: separate;
			border-spacing: rem(40) rem(17.5);

			.skill_item {
				width: 100%;
				position: relative;
				margin-top: rem(10);
			
				.skill_item-header  {
					display: block;
					text-align: left;
					font-size: rem(16);
					font-weight: bold;
					line-height: rem(25);
					border-radius: rem(5);
					padding-left: rem(10);
					margin-bottom: rem(10);
					background-color: rgba($black, .25);
				}
				
				.skill_item-icon {
					width: rem(60);
					height: rem(60);
					margin-right: rem(10);
					display: inline-block;
					vertical-align: middle;
					background-size: cover;
				}

				.skill_item-data {
					width: 65%;
					padding: 0;
					margin-right: rem(10);
					display: inline-block;
					vertical-align: middle;
					text-align: left;
					
					.skill_data-description  {
						display: block;
						font-size: rem(14);
						line-height: rem(16);
					}


				}

				.skill_item-values {
					width: 15%;
					display: inline-block;
					vertical-align: middle;

					.skill_value {
						display: block;
						text-align: left;
						font-size: rem(20);
						line-height: rem(20);
						font-weight: bold;
						white-space: nowrap;
						text-align: right;
						width: 100%;
						
						&:after {
							content: '';
							float: right;
							width: rem(20);
							height: rem(20);
							margin-left: rem(5);
							vertical-align: middle;
							background-position: center;
						}
						
						&.value-attack {
							margin-bottom: rem(10);

							&:after {
								background-image: url("/assets/images/general/damage_icon.png");
								background-repeat: no-repeat;
								background-size: contain;
							}
						}
		
						&.value-wait {
							&:after {
								background-image: url("/assets/images/general/wait_icon.png");
								background-repeat: no-repeat;
								background-size: contain;
							}
						}
					}

				}

				.skill_item-details  {
					width: 100%;
					text-align: left;
					margin-top: rem(5);
					padding-left: rem(70);
					display: inline-block;
					box-sizing: border-box;

					.skill_detail-stones  {
						float: left;
						
						img {
							width: rem(25);

							&:not(:last-child) {
								margin-right: rem(10);
							}
						}
					}

					.skill_detail-conditions {
						float: right;
						padding: rem(5);
						border-radius: rem(5);
						background-color: rgba($black, .1);
						
						img {
							width: rem(25);
							display: inline-block;
							
							&:not(:last-child) {
								margin-right: rem(10);
							}
						}
					}
				}
			}
		}
	}
}
