@include animation("fade") {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@include animation("scale") {
    0% {        
        transform: scale(0)
    }
    100% {        
        transform: scale(1)
    }
}

@include animation("centerScale") {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0)
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1)
    }
}


@include animation("rotate") {
    0% {        
        transform: rotate(0deg)
    }
    100% {        
        transform: rotate(359deg)
    }
}


@include animation("loadslice") {
    0% {
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-15%, -100%);
    }
    10% {        
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-40%, 0);
    }
    30% {
        width: 100%;
        transform: skewX(-20deg) scaleX(1) translate(-40%, 0);
    }
    70% {
        width: 100%;
        transform: skewX(-20deg) scaleX(1) translate(-40%, 0);
    }
    90% {        
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-40%, 0);
    }
    100% {
        width: rem(50); 
        transform: skewX(-20deg) scaleX(0.1) translate(-15%, 100%);
    }
}

@include animation("loadsliceleave") {
    0% {
        width: 100%;
        transform: skewX(-20deg) scaleX(1) translate(-40%, 0);
    }
    70% {        
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-40%, 0);
    }
    100% {
        width: rem(50); 
        transform: skewX(-20deg) scaleX(0.1) translate(-15%, 100%);
    }
}

@include animation("loadsliceenter") {
    0% {
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-15%, -100%);
    }
    30% {        
        width: rem(50);
        transform: skewX(-20deg) scaleX(0.1) translate(-40%, 0);
    }
    100% {
        width: 100%;
        transform: skewX(-20deg) scaleX(1) translate(-40%, 0);
    }
}
