$list: 'normal', 'fighting', 'flying', 'poison', 'ground', 'rock', 'bug', 'ghost', 'steel', 'fire', 'water', 'grass', 'electric', 'psychic', 'ice', 'dragon', 'dark', 'fairy';

@mixin genTypes($prefix, $modifyers) {
    @each $modifyer in $modifyers {
        .#{$prefix}-#{$modifyer} {
            background-color: typeColor($modifyer);
            box-shadow: inset 0 15px 30px saturate(lighten(typeColor($modifyer), 10%), 10%),
            inset 0 -15px 30px saturate(darken(typeColor($modifyer), 15%), 10%);

        }
    }
}

#App {
    @include genTypes('type', $list)
}